.app {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(196, 185, 185);

}

.container {
    background-color: #262629;
    outline: none;
    width: 690px;
    height: 610px;
    border-radius: 4%;
    border: 15px solid rgb(46, 45, 45);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.button-panel {
    width: 68%;
    height: 61%;
    margin-bottom: 2%;
    display: grid;
    grid-template-columns: repeat(4, auto);
}